<nb-layout [center]="false" windowMode>
  <nb-layout-header fixed>
    <a class="logo" routerLink="/" style="font-size: 22px;">
      <b>sails</b>-hook-<b>cms</b>
    </a>
    <div>
      <a
         routerLink="/settings"
         nbButton
         hero
         size="xsmall"
         shape="rectangle"
         status="success">
        Seetings
      </a>
    </div>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar"
              tag="menu-sidebar">
    <nb-menu [items]="mainMenu"></nb-menu>
    <div class="no-collections" *ngIf="mainMenu.length === 1">
      No collections
    </div>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <ng-content></ng-content>
  </nb-layout-column>

  <nb-layout-footer fixed>
    sails-hook-cms
  </nb-layout-footer>
</nb-layout>
